**/Dockerfile
**/logs
.dockerignore
.git*
**/node_modules
README.md
**/local*.yaml
tests
coverage
**/out
**/dist
.eslintignore
.husky
.lintstagedrc.js
.prettierrc.json
vitest.config.ts
.idea
.vscode/*
!.vscode/extensions.json
.env
.DS_Store
